<div class="footer-background" style="background-color: #3150a2;">
    <div class="footer-content d-flex">
        <div class="customer-care-content">
            <p>CUSTOMER CARE</p>
            <div class="customer-care-details">
                <p>Return Policy</p>
                <p>Privacy Policy</p>
                <p>Terms & Conditions</p>
            </div>
        </div>
    
        <div class="company-content">
            <p>COMPANY</p>
            <div class="company-details">
                <p>About Us</p>
                <p>Partner With Us</p>
                <p>Find My Size</p>
            </div>
        </div>
    
        <div class="contact-content">
            <p>CONTACT US</p>
            <div class="contact-details">
                <p>Lil'Brats</p>
                <p>(+91 9566660266)</p>
                <p>support@lilbrats.in</p>
                <p>Mon-Sun: 11am—8pm IST</p>
            </div>

            <div class="contact-offline-details">
                <p>Shop offline at:</p>
                <p>Couture for Lil'Brats</p>
                <p>52A, Gangadeeshwar Koil St,</p>
                <p>Purasaiwakkam,Chennai</p>
                <p>Tamil Nadu 600084</p>
            </div>
        </div>
    
        <div class="guarantee-details">
            <div class="d-flex">
                <img src="../../assets/images/guarantee.svg" style="width: 40px;height: 40px;" alt="">
                <p>100% Premium Quality
                    for all Products at Lil'Brats</p>
            </div>
            <div class="d-flex">
                <img src="../../assets/images/return.svg" style="width: 40px;height: 40px;" alt="">
                <p>Return within 15 days
                    of receiving your order</p>
            </div>
            <div class="d-flex">
                <img src="../../assets/images/delivery-truck.svg" style="width: 40px;height: 40px;" alt="">
                <p>Get free Delivery
                    for every order above Rs. 2000</p>
            </div>        
        </div>
    </div>

    <div class="copyright-links-inceptionLabs-details d-flex">
        <div class="copyright-details">
            <p>&copy;&nbsp; 2021 LIL'BRATS. All rights reserved.</p>
        </div>
        <div class="links-details">
            <img src="../../assets/images/Instagram_logo_2016.svg" style="width: 24px;height: 24px;" alt="">
            <img src="../../assets/images/Facebook_logo_2019.svg"style="width: 24px;height: 24px;" alt="">
        </div>
        <div class="inceptionLabs-details">
            <p>Made with <span style="color:orangered"><i class="fa fa-heart" aria-hidden="true"></i></span>   by Inception Labs</p>
        </div>
    </div>
</div>
