<div>
    <div class="header-title">
        USE CODE UNLOCK25 TO GET FLAT 25% OFF SITE WIDE
    </div>

    <div class="header-logo-image">
        <img src="../../assets/images/logo1.png" style="cursor: pointer;width: 150px;object-fit: contain;height: 90px;" alt="">
    </div>

    <div>
        <div>
            <div class="mb-3">
                <div class="input-group">
                    <input placeholder="What are you looking for" type="text" class="form-control search-input" aria-describedby="validatedInputGroupPrepend">
                    <div class="input-group-append">
                        <span class="input-group-text" id="validatedInputGroupPostpend"><fa-icon [icon]="faSearch"></fa-icon></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #3150a2;">
        <div class="navigation-tab">
            <ul class="navigation-tab-list d-flex">
                <li>DISCOVER</li>
                <li>FRESHLY BREWED</li>
                <li>REVIEWS</li>
                <li>PARTNER WITH US</li>
            </ul>
        </div>
    </div>
    
</div>